jsonpickle==1.5.2
six==1.16.0
redis==3.5.3
fakeredis==1.7.0
future==0.18.2
numpy==1.19.5
typing==3.9.5
ruamel.yaml==0.17.21
requests==2.25.1
tensorflow==2.10.0
h5py==3.1.0
apscheduler==3.8.1
tqdm==4.64.1
ConfigArgParse==1.5.1
networkx==2.6.3
pykwalify==1.8.0
coloredlogs==15.0
flask==2.0.2
flask_cors==3.1.1
scikit-learn==0.24.2
rasa_nlu==0.15.0
colorhash==1.0.2
pika==1.2.0
jsonschema==3.2.0
packaging==20.9
gevent==21.12.0
pytz==2021.3
rasa-core-sdk==0.14.0
rasa_core==0.14.0
pymongo==3.12.1
python-dateutil==2.8.2
spacy==2.3.5
sklearn_crfsuite==0.3.6
keras-applications==1.0.8
keras-preprocessing==1.1.2
